h2 {
    text-align: center;
}

.container-button {
    display: flex;
    justify-content: space-between;
    button {
        width: 45%;
    }
    &__cancel{
        background-color: #ee6055;
        color: white!important;
    }
    
    &__success{
        background-color: #a9c8a6;
        color: white!important;
    }
}

.mdc-dialog__actions {
    padding: 20px 24px 20px 24px;
}