<!-- <app-menu></app-menu> -->
<div class="container-general">
    <div class="container-general__body">
        <mat-drawer-container class="container-general__body__drawer-container-custom">
            <mat-drawer class="container-general__body__drawer-container-custom__side" mode="side" opened>
                <div class="container-general__body__drawer-container-custom__side__container-logo">
                    <img src="../assets/images/logo/labanalysis_logo.svg" alt="Logo Labanalysis">
                </div>
                <div *ngIf="userData && userData.email" class="container-general__body__drawer-container-custom__side__container-user">
                    <img src="../assets/images/user.jpg" alt="User icon">
                    <div class="container-general__body__drawer-container-custom__side__container-user__info">
                        <p>{{ userData.firstName }}  {{ userData.lastName }}</p>
                        <p [title]="userData.email">{{ userData.email }}</p>
                    </div>
                </div>
            </mat-drawer>
            <mat-drawer-content>
                <div class="container-general__body__drawer-container-custom__body">
                    <app-breadcrumb></app-breadcrumb>
                    <router-outlet></router-outlet>
                    <div *ngIf="isVisible" class="container-general__body__drawer-container-custom__body__logout">
                        <button mat-fab color="primary" (click)="logout()">
                            <mat-icon>logout</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>